*
{
box-sizing: border-box;
}

html
{
font-size:62.5%
}

body
{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 1.8;
    margin:0 auto;
    max-width:100%;
}

:root 
{
  --soft-gray: #f2f2f2;
  --blue: #0065FC;
  --soft-blue: #DEEBFF;
}

img
{
    max-width: 100%
}

ul
{
    padding: 0; list-style: none
}

button
{
    cursor:pointer;
}

a
{
    text-decoration: none;
    color:black;
}

h3
{
font-size: 1.7rem;
}

header, main,footer
{
padding:2rem;

}


/*------------------------Header-----------------------------------------*/

header nav ul li:first-child
{
    flex-basis: 70%;
}

header nav img 
{ 
    max-width: 15.0rem;
}

header nav ul 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.heb  a:nth-child(1) 
{
    color: var(--blue);
    border-top: 3px solid var(--blue);
}

.inscription a:nth-child(1) 
{
    color: var(--blue);
}


   
header nav ul li a
{
    padding: 20px 0 0;
    display: block;
}

header nav ul li a :hover
{
color: grey;
}

h1 
{
    font-size: 2.5rem;
    font-weight: 700;
}

.titre_principal,.titre_principal p, .titre_principal h1 
{
    margin: 0;
}

.titre_principal p:nth-child(2)
{
    font-size:2rem;
}

.text
{
    margin-bottom:  2rem;
}

header form 
{
    background: white;
    border: var(--soft-gray) 2px solid;
    border-radius: 20px;
    padding: 1rem 3.3rem;
    max-width: 34rem;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem ;
    margin-bottom: 2rem;
}

form.searchbar 
{
    padding-left: 1.5rem;
}

.searchbar button 
{
    color: white;
    border: 0;
    background: var(--blue);
    border-radius: 0 12px 12px 0;
    padding: 0 20px;
    margin: -10px -33px -10px 0px;
    font-size:medium;
}



input
{
    border:0;  background: transparent;
}
label
{
    position: absolute;left:-999px;
}

::placeholder
{   
    color:#000;
    font-size: 1.6rem;
    font-weight: 700;

}


.filtres
{
    display: flex;
    align-items: center;
    margin-top:20px;

}


.filtres h2
{
    padding: 0
}

.filtres i 
{
    height: 37px;
    background: var(--soft-blue);
    padding: 10px;
    border-radius: 50%;
    width: 37px;
    text-align: center;
    color: var(--blue);
}

.filtres .bouton
{
border: solid  3px var(--soft-gray);
 margin-left:50px;
 background:white;
 border-radius: 20px;
 padding-right:10px;
}

.bouton span
{
padding-left: 1rem;
font-weight:bolder;
}

.text i 
{
    margin-right: 10px;
    color: var(--blue);
    border: 1px solid var(--soft-blue);
    background: white;
    border-radius: 50%;
    padding: 10px;
}

.filtres :hover
{
color:var(--blue) ;
background-color: var(--soft-gray);
transform: perspective(2);
}

/*-----------MAIN--------------*/

main
{
display:flex;
flex-wrap: wrap;
}

#hebergements
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}


#hebergements .box_side
{
    transform: scale(1);
    transition: .1s ease-in-out;
    
}

#hebergements .box_side :hover
{
    transform: scale(1.05);
}


/**--- .hotels ----*/
.hotels 
{
    max-width: 65%;
    display: flex;
    flex-wrap: wrap;
    background: var(--soft-gray);
    padding: 10px;
    border-radius: 20px;
   
       
}

.hotels h2 
{
    padding-left:20px;
    flex-basis:100%;
}


.hotels .box_side 
{
    
        flex: 1;
        flex-basis: 33.33%;
        border-radius: 20px;
        margin-bottom: 20px;
        padding: 20px;   
    
 
}

.hotels .box_side figure
{ 
 margin: 0;
 padding:5px;
 background:white;
 border-radius: 20px;
 box-shadow: 2px 2px 4px 2px grey;
 }

.hotels .box_side img
{ 
    width: 100%;
    height:15rem;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}


.hotels .box_side p,.hotels .box_side h3 
{
    margin:0;
}

.stars
{
    size: 2px;
    color:#0065fc;
}

.star-empty
{
color:#f2f2f2;
}



/**--- .populaire ----*/
.populaire h2
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:90%;
    margin: 25px auto 35px auto;
}

.populaire
{
display: flex;
flex-direction: column;
max-width:33%;
background:var(--soft-gray);
border-radius: 20px;
}

.populaire .cards
{
display: flex;
flex-direction: column;
line-height: 2rem;
justify-content: space-evenly;
}



.populaire figure
{
    display:flex;
    background:white;
    border: var(--soft-gray) 2px;
    border-radius: 20px 20px 20px 20px;
    margin:20px auto 35px auto;
    width: 90%;
    height: 15rem;
    padding: 5px;
    object-fit:cover;
    border: 2px solid var(--soft-gray);
    box-shadow: 2px 2px 4px 3px grey; 
    
}



.populaire figcaption
{
padding-left: 15px;
}

.populaire figure img
{
max-width: 30%;
border-radius : 20px 0px 0px 20px;
object-fit:cover 
 }

 

/**--- #activites ----*/

#activites
{
display: flex;
flex-wrap: wrap;
margin-top:50px;
}

#activites h2
{
flex-basis:100%;
padding-left: 35px;
}


#activites h3

{
padding-left:10px;
padding-bottom: 1rem;
}

#activites .image_box
{
  width:30rem;
  margin-right:2.5rem;
}

#activites figure
{
border: solid 1px var(--soft-gray);
border-radius: 20px;
box-shadow: 2px 2px 4px 3px grey;
padding-bottom:2.5rem;
width:95%;

}

#activites .image_box
{
transform: scale(1);
transition: .1s ease-in-out;
}

#activites .image_box:hover
{
    transform: scale(1.05);
    
}

#activites figure img
{
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    width:100%;
   
}

.visites
{
display: flex;
justify-content: space-evenly;
}

.vertical_box.double
{
display:flex;
flex-direction:column;
justify-content: space-between;
}

 .fig_1, .fig_4
{
height:50rem;
}
 .fig_1 img, .fig_4 img
 {
height:90%;
 }

.fig_2
{
    height:30rem;
   
}

.fig_2 img
{
height:80%;
}

.fig_3
{
height:15rem;
}

.fig_3 img
{
height:70%;
}
.fig_5
{
height:25rem;

}

.fig_5 img
{
height:80%;
}

 .fig_6
{
    height:18rem;
    padding-bottom:3rem;
}

.fig_6 img
{
height:80%;
}

/**--- Footer ----*/

footer 
{
margin:auto;
width: 95%;
background: #f2f2f2;
color: black;
display: flex;
flex-direction: row;
justify-content: space-around;
margin-top:50px;
}

footer ul li
{
list-style-type:none;
padding: 5px;
}

footer a:hover
{
color:var(--blue);

}

/**----------------------------- Version Mobile -----------------------------------*/

@media screen and (max-width: 576px) 
{
    body
    {
    display:flex;
    flex-direction:column;
    align-items:center;
    max-width: 576px;
    margin:auto
    }
    
    header nav ul
    {
    display:flex;
    flex-wrap: wrap;
    }
    
    header nav ul li:first-child
{
     flex-basis: 60%;
}

    header nav ul li :nth-child(2)
    {
    flex-basis:40%;
    }


.heb  a:nth-child(1) 
{
    color: var(--blue);
    border-bottom: 3px solid var(--blue);   
    border-top: none;
}   


.filtres
{
display:flex;
flex-wrap:wrap;

}

.filtre h2
{
    flex-basis:100%;
}

    main
    {
        display:flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin: auto;
        width:100%;

    }
    
    #hebergements
    {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .hotels
    {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width:100%;
    margin-top:3rem;
    }
    
    .hotels h2
    {
        align-self:flex-start;
        font-size:2rem;
        padding-left:0px;
    }
    .hotels .box_side figure
    {
        width:30rem;
    }

.hotel figure img
{
height: 40%;
}


    .populaire
    {
    display:flex;
    flex-direction: column;
    max-width:100%;
    justify-content: space-between;
    }

    .populaire .cards
    {
display: flex;
flex-direction: column;
justify-content: space-between;
    }
    
    #activites
    {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    }
#activites h2
{
font-size:2rem;
padding-left: 0px;
align-self: flex-start;
}
    #activites .image_box
    {
    width:33rem;
    }

    .fig_1 img, .fig_3 img,.fig_4 img
    {
    height:80%;
    }

    .visites
    {
    display:flex;
    flex-direction: column;
    width:100%;
    }

    .visites figure
    {
    height:25rem;
    width:100%;
    }
    
    .vertical_box
    {
    width:100%;

    }

    .image_box
    {
    width:100%;
    }

    footer
    {
    width:95%;
    display:flex;
    flex-direction: column;
    margin:auto;
    }


}

/**----------------------VERSION----- TABLETTE--------------------------------*/

@media (min-width: 577px) and (max-width: 991.98px)

{
    
  header nav ul li :first-child
  {
    flex-basis: 50%;
  }  

  .titre_principal h1
  {
    font-size:2rem;
  }
   
  .titre_principal p
  {
    font-size:1.7rem;
  }
   
  .bouton span
  {
    font-size: 1rem;
    padding:10px;
  }
   
  .filtres i
  {
    padding:12px;
  }

 .text
 {
    font-size: 1.5rem;
    margin-bottom:1rem;
 }

.text i
{
    margin-right:1rem;
    padding: 6px 10px 6px 10px;
}

#hebergement
{
display:flex;
flex-direction: column;
}

.populaire
{
max-width: 90%;
margin:auto;
}

.populaire h2
{
    font-size:2.5rem;
    width:70%;
}

.populaire figure
{
    width:75%;
}
.populaire figure img
{
    width: 35%;
}

.populaire figure h3
{
    font-size:2rem;

}

.populaire figcaption
{
padding-left:3rem;
}

.populaire figure p
{
font-size:2rem;
}

.populaire figure .stars
{
    font-size:2rem;
    padding-top: 1.5rem;
}

.hotels
{
max-width: 90%;
margin:auto;
display:flex;
flex-wrap:wrap;
}

.hotels h3
{
font-size: 1.3rem;
}

  .hotels .box_side p
  {
    font-size: 1.5rem;
  }

  .hotels .box_side figure
  {
    height: 23rem;

}

.hotels figure figcaption
{
    padding-left:1rem;
}
  
.hotels  figure .stars
  {
font-size:1.3rem;
}
   
 .hotels a.cta
 {
font-size: 1.3rem;
padding-left: 1.5rem;
padding-bottom:1rem;
 }



}

















