*
{
    box-sizing: border-box;
}

html
{
    font-size:62.5%
}

body
{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6em;
    line-height: 1.8;
    max-width:100%;
    margin:0;
}

:root 
{
  --soft-gray: #f2f2f2;
  --blue: #0065FC;
  --soft-blue: #DEEBFF;
}

img
{
    max-width: 100%
}

ul
{
    padding: 0; list-style: none
}

button
{
    cursor:pointer;
}

a
{
    text-decoration: none;
    color:black;
}

header, #activites
{
padding:1.5rem;
}


/*-----------------Header---------------------*/

header nav ul 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

header nav ul li a
{
    padding: 20px 0 0;
    display: block;
}


header nav ul li:first-child
{
    flex-basis:60%;
    order:1;
}

header nav img 
{ 
    max-width: 15.0em;
}

.heb
{
    order: 2;
}

.act
{
    order: 3;
}

.inscription
{
    order: 4;
}

.heb a, .inscription a
{
    color: var(--blue);    
}

.act a:hover, .heb a:hover
{
color:var(--blue);
border-top: 3px solid var(--blue);
}

.inscription a:hover
{
border-top: 3px solid var(--blue);
}

h1 
{
    font-size: 2.5rem;
    font-weight: 700;
}

.titre_principal,.titre_principal p, .titre_principal h1 
{
    margin: 0;
}

.titre_principal p
{
    font-size:2rem;
}

.text
{
    margin-bottom:  2rem;
}

header form 
{
    background: white;
    border: var(--soft-gray) 2px solid;
    border-radius: 10px;
    max-width: 38rem;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem ;
    margin-bottom: 2rem;
}

.grey_tip 
{
    width: 5rem;
    background: var(--soft-gray);
    margin: 0;
    height: 5rem;
    border-radius: 10px 0 0 10px;
}

.fa-map-marker-alt
{
padding:1.5rem;
}

.searchbar button 
{
    color: white;
    border: 0;
    background: var(--blue);
    border-radius: 0 10px 10px 0;
    font-size:medium;
    height:5rem;
    padding:1.5rem 2rem;
}

.button_2
{
display:none;
}

input
{
    border:0;  
    background: white;
}


::placeholder
{   
    color:#000;
    font-size: 1.6rem;
    font-weight: 700;
}


.filtres
{
    display: flex;
    align-items: center;
    margin-top:3rem;    
}

.filtres h2
{
    padding: 0;
    flex-basis:0%;
}

.filtres i 
{
    height: 37px;
    background: var(--soft-blue);
    padding: 10px;
    border-radius: 50%;
    width: 37px;
    text-align: center;
    color: var(--blue);
}

.filtres .bouton
{
    border: solid  3px var(--soft-gray);
    background:white;
    border-radius: 20px;
    padding-right:10px;
    margin-left:2.5rem;
}

.bouton span
{
    padding-left: 1rem;
    font-weight:bolder;
}


.filtres :hover
{
    color:var(--blue) ;
    background-color: var(--soft-gray);
}

.text
{
    margin-top:3rem
}

.text i 
{
    margin-right: 10px;
    color: var(--blue);
    border: 1px solid var(--soft-blue);
    background: white;
    border-radius: 50%;
    padding: 5px 10px;
}


/*----------------MAIN-------------------*/
#hebergements
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}


#hebergements .box_side
{
    transform: scale(1);
    transition: .1s ease-in-out;    
}

#hebergements .box_side:hover
{
    transform: scale(1.1);
}

#hebergements figcaption
{
    display:flex;
    flex-direction:column;
       
}

/**---#hebergements .hotels ----*/

.hotels 
{
    max-width: 65%;
    display: flex;
    flex-wrap: wrap;
    background: var(--soft-gray);
    padding: 10px;
    border-radius: 20px;          
}

.hotels h2 
{
    padding-left:20px;
    flex-basis:100%;
}


.hotels .box_side 
{
    
    flex: 1;
    flex-basis: 33.33%;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;   
}

.hotels .box_side p 
{
font-size:1.4rem;
}

.hotels .box_side h3
{
    font-size:1.5rem;
}

.hotels .box_side figure
{ 
    margin: 0;
    padding:5px;
    background:white;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 4px grey;
 }

.hotels .box_side img
{ 
    width: 100%;
    height:15rem;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}


.hotels .box_side p,.hotels .box_side h3 
{
    margin:0;
}

.stars
{
    
    color:#0065fc;
}

.star-empty
{
    color:#e7dfdf;
}

a.cta:hover
{
    color: var(--blue);
}

/**---#hebergements .populaire ----*/

.populaire h2
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}



.populaire
{
    display: flex;
    flex-direction: column;
    max-width:30%;
    background:var(--soft-gray);
    border-radius: 20px;
}

.cards 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.populaire figure
{
    display:flex;
    background:white;
    border: var(--soft-gray) 2px;
    border-radius: 20px 20px 20px 20px;
    object-fit:cover;
    border: 2px solid var(--soft-gray);
    box-shadow: 2px 2px 4px 4px grey; 
}

.populaire figure img
{
    max-width: 30%;
    border-radius : 20px 0px 0px 20px;
    object-fit:cover 
}

 
.populaire figcaption
{
    font-size:1.5rem;
    margin:auto;
}

 .double_line
{
    line-height:1.6rem;
}

    .double_line h3
{
    line-height:2.2rem;
}

/**--- #activites ----*/

#activites
{
display: flex;
flex-direction: column;
margin-top:3rem;
}

#activites h2
{
flex-basis:100%;
}

#activites h3
{
padding-left:1rem;
line-height:2rem;
}

#activites figure
{
border: solid 1px var(--soft-gray);
border-radius: 20px;
box-shadow: 2px 2px 4px 4px grey;
padding-bottom:2.5rem;
width:90%;
margin:auto;
}

#activites .image_box
{
transform: scale(1);
transition: .1s ease-in-out;
}

#activites .image_box:hover
{
    transform: scale(1.1);    
}

#activites figure img
{
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    width:100%; 
}

.visites
{
    display: flex;
    justify-content: space-evenly;
}

.vertical_box
{
    flex-basis:25%;
}
.vertical_box.double
{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

 .fig_1, .fig_4
{
    height:50rem;
}
 .fig_1 img, .fig_4 img
 {
    height:90%;
 }

.fig_2
{
    height:30rem;   
}

.fig_2 img
{
    height:80%;
}

.fig_3
{
    height:15rem;
}

.fig_3 img
{
    height:70%;
}

.fig_5
{
    height:25rem;
}

.fig_5 img
{
    height:80%;
}

 .fig_6
{
    height:18rem;
    padding-bottom:3rem;
}

.fig_6 img
{
    height:80%;
}

/**--- Footer ----*/

footer 
{
    width: 100%;
    background: #f2f2f2;
    color: black;
    display: flex;
    justify-content: space-around;
    margin-top:50px;
}

footer article
{
    flex-basis: 30%;
}

footer ul li
{
    list-style-type:none;
    padding: 5px;
}

footer a:hover
{
    color:var(--blue);
}
   
/**----------------------------- Version Mobile -----------------------------------*/

@media screen and (max-width: 576px) 
{

/*-------------Mobile--------header-----*/
    body
    {
    display:flex;
    flex-direction:column;
    max-width: 100%;
    margin:0;
    }
    
    header nav ul
    {
    display:flex;
    flex-wrap: wrap;
    }
    
    header nav ul li:first-child
    {
     flex-basis: 50%;
     order:1;
    }

    .heb
    {
    flex-basis:50%;
    order:3;
    }

    
    .act
    {
        order:4;
    }
    
    .inscription
    {
       order:2;
    }

    .heb a:hover, .act a:hover, .inscription a:hover 
    {
        border-bottom: 3px solid var(--blue);   
        border-top:hidden;
    }   

    .filtres
    {
        display:flex;
        flex-wrap:wrap;
    }

    .filtres h2
    {
        flex-basis:100%;
    }

    .filtres .bouton
    {
        margin:1rem;
    }

    .button_1
    {
        display:none;
    }

    .button_2
    {
        display:inline-block;
    }
    
    /*--------Mobile-------Hebergements---------*/
    
    #hebergements
    {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .hotels
    {
        flex-direction: column;
        max-width:100%;
        margin-top:3rem;
        background:white;
    }
    
    .hotels h2
    {
        align-self:flex-start;
        font-size:2rem;
        padding-left:0px;
    }
   

    .hotel figure img
    {
        height: 40%;
    }


    .populaire
    {
        display:flex;
        flex-direction: column;
        max-width:100%;
        justify-content: space-between;
        border-radius:0px;
    }

    .populaire .cards
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /*----------------Mobile-----Avtivites-----------*/
    
    #activites
    {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    }

    #activites h2
    {
        font-size:2rem;
        padding-left: 0px;
        align-self: flex-start;
    }
    
    .fig_1 img, .fig_3 img,.fig_4 img
    {
        height:80%;
    }

    .visites
    {
        display:flex;
        flex-direction: column;
        width:100%;
    }

    .visites figure
    {
        height:90%;   
    }
    
    .vertical_box
    {
    width:100%;
    }

    .image_box
    {
    width:100%;
    height:25rem;
    }

    footer
    {
    display:flex;
    flex-direction: column;
    padding:1.5rem;
    max-width:100%;
    }

}

/*-----------------------------------------VERSION--------------TABLETTE--------------------------*/


@media screen and (max-width: 991.98px)
{



    header nav ul li:first-child
    {
        flex-basis:40%;
    }

/*--------------Tablette-------------Hebergement-----------------*/

    #hebergements
    {
        flex-direction:column;
    }

    .hotels
    {
        max-width: 100%;
        background:white;
    }
    
    .populaire
    {
        max-width:100%;
        border-radius: 0px;
    }
/*--------------Tablette-------------Activites-----------------*/
    
    #activites .visites
    {
        display :flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #activites h3
    {
        font-size:1.5rem;
    }

    #activites figure
    {
        margin:2rem auto;
    }

    .vertical_box
    {
    flex-basis: 45%;
    }




}