*
{
box-sizing: border-box;
}

html
{
font-size:62.5%
}

body
{
font-family: 'Raleway', sans-serif;
font-size: 1.6rem;
line-height: 1.8;
margin-right: 20px;
margin-left:20px;

}

:root 
{
  --soft-gray: #f2f2f2;
  --blue: #0065FC;
  --soft-blue: #DEEBFF;
}

img
{
max-width: 100%
}

ul
{
padding: 0; list-style: none
}

button
{
cursor:pointer;
}

a
{
text-decoration: none;
color:black;
}



/*------------------------Header-----------------------------------------*/

header nav ul li:first-child
{
     flex-basis: 70%;
}

header nav img 
{ 
    max-width: 15.0rem;
}

header nav ul 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.heb  a:nth-child(1) 
{
    color: var(--blue);
    border-top: 3px solid var(--blue);
}

.inscription a:nth-child(1) 
{
    color: var(--blue);
}
   
header nav ul li a
{
    padding: 20px 0 0;
    display: block;
}

h1 
{
    font-size: 2.5rem;
    font-weight: 700;
}

.titre_principal,.titre_principal p, .titre_principal h1 
{
    margin: 0;
}
.titre_principal p:nth-child(2)
{
font-size:2rem;
}

.text
{
margin-bottom:  2rem;
}

header form 
{
    background: white;
    border: var(--soft-gray) 2px solid;
    border-radius: 20px;
    padding: 1rem 3.3rem;
    max-width: 34rem;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem ;
    margin-bottom: 2rem;
}

form.searchbar 
{
    padding-left: 1.5rem;
}

.searchbar button 
{
    color: white;
    border: 0;
    background: var(--blue);
    border-radius: 0 20px 20px 0;
    padding: 0 20px;
    margin: -10px -33px -10px 0px;
}

input
{
    border:0;  background: transparent;
}
label
{
    position: absolute;left:-999px;
}

::placeholder
{   
    color:#000;
    font-size: 1.6rem;
    font-weight: 700;

}


.filtres
{
    display: flex;
    align-items: center;
    margin-top:20px;

}

.filtres :hover
{
color: red;
background-color: blueviolet;
}


.filtres h2
{
    padding: 0
}

.filtres i 
{
    height: 37px;
    background: var(--soft-blue);
    padding: 10px;
    border-radius: 50%;
    width: 37px;
    text-align: center;
    color: var(--blue);
}

.filtres .bouton
{
border: solid  2px var(--soft-gray);
 margin-left: 50px;
 background:white;
 border-radius: 20px;
 padding-right:10px;
}



.text i 
{
    margin-right: 10px;
    color: var(--blue);
    border: 1px solid var(--soft-blue);
    background: white;
    border-radius: 50%;
    padding: 10px;
}



/*-----------MAIN--------------*/
main
{
display:flex;
flex-wrap: wrap;
}


    

#hebergements
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}


/**--- .hotels ----*/
.hotels 
{
    max-width: 65%;
    display: flex;
    flex-wrap: wrap;
    background: var(--soft-gray);
    padding: 10px;
    border-radius: 20px;
   
       
}

.hotels h2 
{
    padding-left:20px;
    flex-basis:100%;
}








.hotels .box_side 
{
    
        flex: 1;
        flex-basis: 33.33%;
        border-radius: 20px;
        margin-bottom: 20px;
        padding: 20px;   
    
 
}

.hotels .box_side figure
{ 
 margin: 0;
 padding:5px;
 background:white;
 border-radius: 20px;
 box-shadow: 2px 2px 4px 2px grey;
 }

.hotels .box_side img
{ 
    width: 100%;
    height:150px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}


.hotels .box_side p,.hotels .box_side h3 
{
    margin:0;
}

.stars
{
    size: 2px;
    color:#0065fc;
}

.star-empty
{
color:#f2f2f2;
}


/**--- .populaire ----*/
.populaire h2
{
padding-left: 20px;
margin-bottom:40px;
padding-top:10px;
}
.populaire h2 i
{
padding-left: 150px;
}

.populaire
{
display: flex;
flex-direction: column;
max-width:33%;
background:var(--soft-gray);
overflow: hidden;
border-radius: 20px;
justify-content: space-around;
}
.populaire .cards
{
display: flex;
flex-direction: column;
align-items:center;
justify-content: space-between;
}
.pouplaire .box_side
{
  padding-left: 5px; 
}

.populaire figure
{
    display:flex;
    background:white;
    border: var(--soft-gray) 2px;
    border-radius: 20px 20px 20px 20px;
    margin:10px;
    width: 95%;
    padding: 5px;
    height: 180px;
    object-fit:cover;
    border: 2px solid var(--soft-gray);
    box-shadow: 2px 2px 4px 3px grey;  
}

.populaire figcaption
{
padding-left: 15px;
}

.populaire figure img
{
max-width: 30%;
border-radius : 20px 0px 0px 20px;
 object-fit:cover 
 }

/**--- #activites ----*/

#activites
{
display: flex;
flex-direction: column;
}

#activites h2
{
align-self: flex-start;
}
.to_visit
{
display:flex;
justify-content:space-between;
}

#activites h3

{
padding-left:10px;
}

#activites .image_box
{
  width:360px;
}

#activites figure
{
border: solid 1px var(--soft-gray);
border-radius: 20px;
box-shadow: 2px 2px 4px 3px grey;
padding:0;

}


#activites figure img
{
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    height:70%;
    width:100%;
   
}

 .fig_1, .fig_4
{
height:100vh;
}
 
.fig_2
{
    height:45vh;
}

.fig_3, .fig_6
{
    height:40vh
}

.fig_5
{
    height:50vh;
}



/**--- Footer ----*/

footer ul li
{
list-style-type:none;
padding: 5px;
}

footer 
{
margin:auto;
width: 100%;
background: #f2f2f2;
color: black;
display: flex;
flex-direction: row;
justify-content: space-evenly;
margin-top:50px;
padding:10px;
}

/**------------------- Version Mobile -----------------------------------*/

@media screen and (max-width: 576px) 
{ 

body
{
display:flex;
flex-direction:column;
align-items:center;
width: 100%;

}

#hebergements
{
    display:flex;
    flex-direction: column;
}

.hotels
{
display:flex;
flex-direction: column;
max-width: 100%;
flex-wrap: nowrap;
}

.populaire
{
display:flex;
flex-direction: column;
max-width: 100%;
}

#activites
{
display:flex;
flex-direction:column;
align-items:center;

}


.fig_1,.fig_2,.fig_3,.fig_4,.fig_5,.fig_6
{
width:100%;
height: 40vh;
}
.fig_1 img, .fig_4 img 
{
    height: 40vh;
}

footer
{
width:100%;
display:flex;
flex-direction: column;

}





}


