*
{
    box-sizing: border-box;
}

body
{
    margin:0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.conteneur
{
    display:flex;
    flex-direction: column;
    width: 100%;
    background-color: #f2f2f2;
    margin:0 auto;
    justify-content:center,space-around;
}

#logo
{
    max-width: 30%;
    padding-top: 0;
}

 nav ul li
{
list-style: none;
padding-top:20px ;

}

a
{
    list-style: none;
    text-decoration: none;
    color: black;
}

.intro 
{
    padding padding-top: 10px;
    margin: 20px auto 20px auto;
}

.box_side
{
    display: flex;

}

.side img
{
width: 40%;
}

.filtres img
{
size: 2px;
background-color: #deebff;
color: #0065fc;
}

 .activites figcaption
 {
     text-decoration:black;
     font-weight:bolder;
     font-size: 1.5em;
 }
   

figure 
{ 
    width: 70%;
    height: 300px;
    margin: 40px; 
    padding:4px;
    border:white solid 4px;
    border-radius: 15%;
     
}

figure img
{
    width: 100%;
    max-height: 60%;
    display: block;
    object-fit: cover;
    overflow: hidden;
}

footer
{
    background: #f2f2f2;
    
}
footer h2
{
margin:40px;
padding:10px;
list-style:none;
font-weight: bolder;
color: black;
}



@media screen and (min-width 992px)
{

.conteneur
{
    min-width: 700px;
    margin:0 auto;
    display:flex;

}
header
{
   position:static
   padding top:0;

}
figure
{
min-width:500 ;
max-width:1000 ;
}
footer
{
display:flex;
flex-direction: column;
}

}
