*
{
    margin: 0px;
    padding:0px;
    @font-face {
        font-family: raleway;
        src: url(../fonts/raleway/Raleway-VariableFont_wght.ttf);
}

.image_box
{
    margin: 0 auto;
}

.side
{
    background: #f2f2f2;
}

footer
{
    background: #f2f2f2;
}